<head>
  <title>Employee List</title>
  <base href="/employees">
</head>
<div style="margin: 15px 0px 0px 0px;" class="container"> 
  <label>Filter By:</label><br>
  <input type="text" id = "filter"  name="searchString" [(ngModel)]="searchString">
</div>
<br>
<label style="margin: 15px 0px 0px 0px;"> Total Number of Employees : </label><label id ="count"> 
  <ng-container *ngIf = "searchString;">
    <label> {{empCount | pilter:'name':searchString:1}}</label>
  </ng-container>
  <ng-container *ngIf = "searchString===undefined || searchString ==='';">
    <label> {{empCount | empCountPipe}}</label>
  </ng-container>
    </label>

<br><br>
<table class="table" border =1  >
  <thead>
    <tr>
      <th>Emp Id</th>
      <th>Emp Name</th>
      <th>Emp location</th>
      <th>Emp Mail</th>
      <th>Contact</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody  >
    <tr *ngFor="let emp of employees | pilter : 'name' : searchString:2 ; let i = index; "   style = "padding : 5px;">

      <td ><a routerLink="/details" class="link" (click)="det(emp.id)">{{emp.id}}</a></td>
      <td id="name{{i+1}}">{{emp.name}} </td>
      <td id="loc{{i+1}}">{{emp.location}}</td>
      <td id="email{{i+1}}">{{emp.email}}</td>
      <td id="mobile{{i+1}}">{{emp.mobile}}</td>
      <td><a  routerLink="/editEmployee" class="link" (click)="clicked(emp.id)">Edit{{i+1}}</a></td>
      <td><a (click) = "delete(emp.id)" routerLink="/employees"  class="link">Delete{{i+1}}</a></td>
    </tr>
  
  </tbody>
  
</table> 
<!-- | filter : 'name' : searchString -->
<!-- <table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Contact</th>
    <th>Mail</th>
  </tr>
  <tr *ngFor="let emp of employees">
    <th>{{emp.id}}</th>
<th>{{emp.name}}</th>
<th>{{emp.email}}</th>
<th>{{emp.mobile}}</th>
  </tr>
</table> -->
