<head>
  <title>Employee List</title>
  <base href="/employees">
</head>
<div > 
  <label>Filter By:</label>
  <input type="text" id = "filter" >
</div>
<label> Total Number of Employees : </label>
<label id ="count">
<table>
  <thead>
    <tr>
      <th>Emp Id</th>
      <th>Emp Name</th>
      <th>Emp location</th>
      <th>Emp Mail</th>
      <th>Contact</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let emp of employees">
      <td>{{emp.id}}</td>
      <td>{{emp.name}}</td>
      <td>{{emp.location}}</td>
      <td>{{emp.email}}</td>
      <td>{{emp.mobile}}</td>
    </tr>
  </tbody>
</table>