<head>
  <title>Edit Employee</title>
  <base href="/editEmployee">
</head>
<body>
  <h2>Edit Employee</h2>
   <form name= "editEmployee" (ngSubmit)="edit.form.valid && updateEmp()" #edit="ngForm"  novalidate>
    <table>
      <tr>
        <td><label>Employee Name: </label></td>
        <td><input type = "text" id ="name"  name="name" [(ngModel)]="model.name" #name="ngModel" [ngClass]="{ 'is-invalid': edit.submitted && name.invalid }" required  pattern="[A-Za-z]{3,30}" />
        </td>
      </tr>
      <tr>
        <td><label>Location: </label></td>
        <td>  
          <select name = "location" id = "location" [(ngModel)]="model.location"  #location="ngModel" 
                [ngClass]="{ 'is-invalid': edit.submitted && location.invalid }" required>
            <option value=""></option>
            <option value="Bangalore">Bangalore</option>
            <option value= "Chennai">Chennai</option>
            <option value= "Pune">Pune</option>
          </select>
        </td>
      </tr>
      <tr>
        <td> <label>Email: </label></td>
        <td><input type = "email" id ="email" maxlength="30" minlength="3"  name= "email"  
              [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': edit.submitted && email.invalid }" pattern="^[A-Za-z0-9+_.-]+@(.+)$" required email/>
        </td>
      </tr>
      <tr>
        <td><label>Mobile: </label></td>
        <td><input type = "number" maxlength="10" minlength="10" id ="mobile"  required name="mobile" pattern="[0-9]{10}$"
            [(ngModel)]="model.mobile" #mobile="ngModel" [ngClass]="{ 'is-invalid': edit.submitted && mobile.invalid }"/></td>
      </tr>
    <tr>
      <td></td>
      <td><input type="submit" id="update" value="Update" [disabled]="!edit.valid" style="background-color: lightblue;"/></td>
    </tr>
    </table>  
  </form>
</body>