<head>
  <title>Add Employee</title>
  <base href="/addEmployee">
</head>

<div >
  <h4> Add Employee </h4>
<div style="border: 2px solid blue; padding: 10px 50px;">
  <form name= "addEmployee" [formGroup]="myForm" (ngSubmit)="addEmp()">
    <table>
      <tr>
        <td><label>Employee Name: </label></td>
        <td><input type = "text" id ="name"  formControlName="name" required  pattern="[a-zA-Z][a-zA-Z ]+" name="name" />
            
        </td>
      </tr>
      <tr>
        <td><label>Location: </label></td>
        <td><input type = "text" id ="location" formControlName="location" required/></td>
      </tr>
      <tr>
        <td> <label>Email: </label></td>
        <td><input type = "email" id ="email" formControlName="email" required/></td>
      </tr>
      <tr>
        <td><label>Mobile: </label></td>
        <td><input type = "number" maxlength="10" minlength="10" id ="mobile" formControlName="mobile" required/></td>
      </tr>
    <tr>
      <td></td>
      <td><input type="submit" id="add"/></td>
    </tr>
    </table>  
  </form>
</div>
</div>